body,
html {
    width: 100%;
}

html {
    font-size: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}
/* .container {
    max-width: 80%;
} */
.logo {
    font-family: 'Luckiest Guy', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 7.5rem;
    /* line-height: 90px; */
    letter-spacing: 0.02em;
    color: #260078;
}
.section2{
    flex-direction: row-reverse;
}

.exclam {
    color: black;
}
.hero {
    margin-bottom: 5rem;
    /* min-height: 90vh; */
}
.hero_heading {
    font-style: normal;
    font-weight: 900;
    /* font-size: 60px; */
    /* line-height: 70px; */
    font-style: normal;
    font-weight: 900;
    font-size: 3.7rem;
    color: #140040;
}

.hero_para {
    color: #140040;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2.1875rem;
    line-height: 1.5;
    /* or 143% */


    color: #140040;

}

.hero__image {
    position: relative;
    animation: bounce 2s linear infinite;
}

@keyframes bounce {
    0% {
        top: 0;
    }

    50% {
        top: 0.7rem;
    }

    100% {
        top: 0;
    }
}

.image2 {
    position: absolute;
    left: 0;
    z-index: -10;
}

.section1 {
    /* background-image: url('../images/bg_1.png'); */
    background-image: linear-gradient(120deg, #140140, #140140);
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-attachment: fixed;
    /* height: 100%; */
    background-position: top bottom;
    padding: 10% 0;
}
.section2 {
    /* background-image: url('../images/bg_2.png'); */
    background-image: linear-gradient(120deg, #260078, #260078);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top bottom;
    background-attachment: fixed;
    /* height: 100%; */
    z-index: 100;
    /* background: #260078; */
    padding: 10% 0;
}
.section3 {
    /* background-image: url('../images/bg_1.png'); */
    background-image: linear-gradient(120deg, #140140, #140140);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    /* height: 100%; */
    /* margin-top: -10%; */
    padding: 10% 0;
    /* height: 100vh; */
}

.heading {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 3.75rem;
    /* line-height: 70px; */

    color: #FFFFFF;

}

.para {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2.1875rem;
    /* line-height: 50px; */
    /* or 143% */
    color: #FFFFFF;
}

#email {
    background: #FFFFFF;
    border: 1px solid #260078;
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    height: 4.125rem;
    padding: 1rem;
    font-size: inherit;
    transition: all 0.3s;
}

#email::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3125rem;
    line-height: 25px;
    color: #260078;

}

#email:focus {
    transform: scaleY(1.1);
}


.btn {
    background: #260078;
    border-radius: 8px;
    min-width: 50%;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.125rem;
    margin-top: 2.5rem;
    padding: 1rem;
}
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}


.btn:focus,
.btn:active {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
}
.carousel-section {
    margin: 20% 0;
}

.footer {
    background-image: linear-gradient(120deg, #260078, #260078);
    position: relative;
    padding: 15% 0;
}


.footer_heading {
    font-family: Luckiest Guy;
    font-style: normal;
    font-weight: normal;
    font-size: 7.5rem;
    /* line-height: 120px; */
    color: white;
    background: transparent;
    animation: pulsate 1s infinite;

}

.footer_btn {
    background-color: #fff;
    color: #260078;
}


.footer_btn:hover {
    color: #260078;
}

.dot-img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40%;
    /* z-index: -1; */
}
.mockup {
    /* width: 100%; */
    border-radius: 50px;
}
.mockup-plain {
    border: 5px inset  #C4C4C4;
}

.mockup:hover {
    animation: pulsate 1s infinite;
}

@keyframes pulsate {

    0% {
        transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.05);
        /* box-shadow: 0 1rem 4rem rgba(0, 0, 0, .25); */
    }

    100% {
        transform: scale(1);
        box-shadow: none;
    }

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media(max-width: 1300px) {
    .hero_heading {
        font-style: normal;
        font-weight: 900;
        /* font-size: 60px; */
        /* line-height: 70px; */
        font-style: normal;
        font-weight: 900;
        font-size: 3rem;
        color: #140040;
    }
   
}
@media(max-width: 993px) {
    html {
        font-size: 70%;
    }
   
}


@media(max-width: 600px) {
    html {
        font-size: 60%;
    }
}
@media(max-width: 500px) {
    
    .col-sm-10, img.img {
        margin-top: 3rem;
        width: 90%;

    }
    .row {
        flex-direction: column-reverse;
    }
    .hero__image {
        display: none;
    }
    .para {

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        /* font-size: 25px; */
        line-height: 40px;
    }   
    /* img {
        width: 300px;
    height: 600px;
    } */

    .footer_heading {
        font-size: 50px;
    line-height: 50px;
    }
}
