body {
    background-color: red;
}
.hero h1 {
  font-family: Luckiest Guy;
  font-style: normal;
  font-weight: normal;
  font-size: 130px;
  line-height: 130px;
  /* identical to box height */

  color: #260078;
}

.hero h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;

  color: #140040;
}
